@font-face {
    font-family: 'MinSans-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'MinSans-Regular';
	-ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

#left {
	width: 50%;
	height: auto;
	display: inline-block;
}

#right {
	width: 50%;
	height: auto;
	display: inline-block;
	float: right;
}

#place-img {
	margin-top: 10px;
	text-align: center;
}

#place-info1 {
	margin-top: 2%;
	text-align: left;
}

#place-name {
	display: inline;
	margin-left: 8%;
}

#ingredient {
	margin-left: 8%;
}

/* #place-info2 {
	margin-top: 10%;
}

#info-house {
	margin-top: 2%;
	text-align: left;
}

#info1 {
	display: inline;
	margin-left: 8%;
	margin-top:4%;
}

#info2 {
	display: inline;
	margin-right: 16%;
	float: right;
	font-weight: 800;
	color: black;
} */

.item{
	display: grid;
	grid-template-columns: repeat(1, 30%);
}











#map{
	margin-top: 30px;
}



@media screen and (max-width: 700px){
	#submit {
		margin-left: -16%;
		min-width: 330px;
	}
}

@media screen and (max-width: 600px){
	body{
		margin-left: 0;
		min-width: 320px;
	}
	#left {
		width: 100%;
		position: inherit;
		margin-top : 7%;
	}
	#right {
		width: 100%;
	}
	#submit {
		display: flex;
		justify-content: center;
		margin-left: -14%;
	}
}