@font-face {
  font-family: 'MinSans-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
font-family: 'MinSans-Regular';
}

#left {
position: fixed;
width: 50%;
height: auto;
display: inline-block;
}

#right {
width: 50%;
height: auto;
display: inline-block;
float: right;
}

.best-place {
width: 100%;
height: auto;
margin-top: 50px;
}

#best-place-h1 {
margin-top: 14%;
margin-left: 14%;
}

#best-place {
width: 80%;
margin-left: 14%;
}

#best-place p{
display: inline-block;
margin-left: 15%;
font-size: 160%;
}

#best-Itawon {
margin-top: 20px;
display: flex;
align-items: center;
border-radius: 1em;
margin-bottom: 2%;
cursor: pointer;
}

#best-Itawon-img {
width: 40%;
max-width: 100%;
height: auto;
margin-left: 5%;
border-radius: 5%;
}

#best-Place {
display: flex;
align-items: center;
border-radius: 1em;
margin-bottom: 2%;
cursor: pointer;
}

#best-Place-img {
width: 40%;
max-width: 100%;
height: auto;
margin-left: 5%;
border-radius: 5%;
}

#best-River {
display: flex;
align-items: center;
border-radius: 1em;
margin-bottom: 2%;
cursor: pointer;
}

#best-River-img {
width: 40%;
max-width: 100%;
height: auto;
margin-left: 5%;
border-radius: 5%;
}

.place {
width: 100%;
height: auto;
margin-top: 50px;
}

#place-h1 {
margin-top: 14%;
margin-left: 14%;
margin-bottom: 0;

}

#place {
width: 70%;
margin: 2% 0 10% 14%;

}

#place p{
display: inline-block;
margin-left: 20%;
font-size: 160%;
}

#place-Board {
border-radius: 1em;
margin-bottom: 2%;
display: flex;
align-items: center;
cursor: pointer;
}

#place-Board-img {
width: 30%;
height: auto;
margin-left: 5%;
border-radius: 6%;
}

#place-Cafe {
border-radius: 1em;
margin-bottom: 2%;
display: flex;
align-items: center;
cursor: pointer;
}

#place-Cafe-img {
width: 30%;
height: auto;
margin-left: 5%;
border-radius: 6%;
}

#place-Hong {
border-radius: 1em;
margin-bottom: 2%;
display: flex;
align-items: center;
cursor: pointer;
}

#place-Hong-img {
width: 30%;
height: auto;
margin-left: 5%;
border-radius: 6%;
}

#place-Itawon {
border-radius: 1em;
margin-bottom: 2%;
display: flex;
align-items: center;
cursor: pointer;
}

#place-Itawon-img {
width: 30%;
height: auto;
margin-left: 5%;
border-radius: 6%;
}

#place-Lotte {
border-radius: 1em;
margin-bottom: 2%;
display: flex;
align-items: center;
cursor: pointer;
}

#place-Lotte-img {
width: 30%;
height: auto;
margin-left: 5%;
border-radius: 6%;
}

#place-Palace {
border-radius: 1em;
margin-bottom: 2%;
display: flex;
align-items: center;
cursor: pointer;
}

#place-Palace-img {
width: 30%;
height: auto;
margin-left: 5%;
border-radius: 6%;
}

#place-River {
border-radius: 1em;
margin-bottom: 2%;
display: flex;
align-items: center;
cursor: pointer;
}

#lace-River-img{
width: 30%;
height: auto;
margin-left: 5%;
border-radius: 6%;
}

#place-Sinrim {
border-radius: 1em;
margin-bottom: 2%;
display: flex;
align-items: center;
cursor: pointer;
}

#place-Sinrim-img {
width: 30%;
height: auto;
margin-left: 5%;
border-radius: 6%;
}

.show-place{
height: 200px;
}

@media screen and (max-width: 750px) {
body{
  margin-left: 0;
  min-width: 320px;
}
#left {
  width: 100%;
  position: inherit;
  margin-top : 7%;
}
#right {
  width: 100%;
}
#left {
  margin-top: 3%;
}
#right {
  margin-top: 3%;
}
}

@media screen and (max-width: 600px){
body{
  margin-left: 0;
  min-width: 320px;
}
#left {
  width: 100%;
  position: inherit;
  margin-top : 7%;
}
#right {
  width: 100%;
}
.filter {
  position: inherit;
  margin-left: 7%;
}
#filter {
  margin-top: 2%;
  margin-bottom: 2%;
}
}